<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
　　　　　　　　<encoder>
　　　　　　　　　　<pattern>%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %-5level %logger{35} - %msg%n</pattern>
　　　　　　　　</encoder>
  </appender>
　　　　　　<appender name="FILE" class="ch.qos.logback.core.FileAppender">
　　　　　　　　<file>client5.log</file>
　　　　　　　　<append>true</append>
　　　　　　　　<encoder>
　　　　　　　　　　<pattern>%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %-5level %logger{35} - %msg%n</pattern>
　　　　　　　　</encoder>
　　　　　　</appender>

　　　　　　<root level="INFO">
　　　　　　<appender-ref ref="FILE" />
　　　　　　</root>
</configuration>